<a href="https://colab.research.google.com/github/butt01abdullah-droid/Python-projects/blob/main/Intro_to_python_with_greeting_msg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name= input("enter your name")
print("welcome " +name+ "!")

enter your nameali
welcome ali!

In [ ]:
name="saad"
print(name)

saad

In [ ]:
number= input("enter number")
print(number)
if int(number) > 0 :
  print("positive")
else:
  print("negative")

enter number8
8
positive

In [ ]:
n=int(input("enter a number"))
if n > 0:
  print("positive")
elif n == 0:
  print("zero")
else:
  print("negative")

enter a number-2
negative

In [ ]:
sum=0
for i in range(2,101,2):
    sum=sum+i
print(f"sum of even numbers from2 to 100 is {sum}")

sum of even numbers from2 to 100 is 2550

In [ ]:
list=["ali","asad","aslam"]
print("list of name is:",list[2])
liata=["apple","banana"]
list.extend(liata)
print(list)
list.append(liata)
print(list)
list.remove("asad")
print(list)
list.pop(2)
print(list)
list.insert(2,"saad")
print(list)

list of name is: aslam
['ali', 'asad', 'aslam', 'apple', 'banana']
['ali', 'asad', 'aslam', 'apple', 'banana', ['apple', 'banana']]
['ali', 'aslam', 'apple', 'banana', ['apple', 'banana']]
['ali', 'aslam', 'banana', ['apple', 'banana']]
['ali', 'aslam', 'saad', 'banana', ['apple', 'banana']]

In [ ]:
def sum(x,y):
  add=x+y
  print(add)
a=5;b=6
sum(a,b)
def sum(x,y,z):
  return x+y+z
print(sum(2,3,4))

11
9

In [ ]:
import random
secret_number= random.randint(1,10)
attempts=3
print("guess the number between 1 and 10")
while attempts>0:
  guess= int(input("guess a number"))
  if guess== secret_number:
    print("you win")
  elif guess < secret_number:
    print("too low")
  else:
    print("too high")
  attempts-=1
print("game over")

guess the number between 1 and 10
guess a number9
too high
guess a number7
too low
guess a number8
you win
game over

In [ ]:
#Personalized greeting program
#Step 1:ask for user details
name= input("enter your name")
age= input("enter your age")
color= input("enter your favourite color")
# Sep 2: grenerate a greeting message
print("hello "+name+"!")
print("you are "+age+" years old")
print("your favourite color is "+color)

enter your nameaib
enter your age24
enter your favourite colorblack
hello aib!
you are 24 years old
your favourite color is black

In [ ]:
text= "i love you"
print(text*4)

i love youi love youi love youi love you

In [ ]:
# step 1 get input of two number
number1= int(input("enter first number"))
number2= int(input("enter second number"))
# step 2: perform arithmetic operations
addition= number1+number2
subtraction = number1-number2
multiplication= number1*number2
division= number1/number2
# step 3: display the results
print(f"addition : {number1} and {number2} is",addition)
print("subtraction:",subtraction)
print("multiplication:",multiplication)
print("division:",division)

enter first number4
enter second number5
addition : 4 and 5 is 9
subtraction: -1
multiplication: 20
division: 0.8

In [ ]:
text="banana"
for i in range(10):
  print(text)
  text+="na"

banana
bananana
banananana
bananananana
banananananana
bananananananana
banananananananana
bananananananananana
banananananananananana
bananananananananananana

In [ ]:
import time
for i in range(10,1,-1):
  print(i)
  time.sleep(1)
print("happy birthday")

10
9
8
7
6
5
4
3
2
happy birthday

In [ ]:
list=["ali","sara","bilal"]
#for index,item in enumerate(list):
 # print(index,item)
print(list)
list.sort()
print(list)
list.reverse()
print(list)

['ali', 'sara', 'bilal']
['ali', 'bilal', 'sara']
['sara', 'bilal', 'ali']